---
import InfoSections from './InfoSections.astro';
---

<div class="px-4">
	<InfoSections variant="mobile" />

	<footer class="mt-24 pb-6 text-center text-xs text-base-content/50">
		<div>©momotori, ©iranika April 2024+</div>
	</footer>
</div>
