<div class="border border-base-300 bg-base-100 p-4">
	<div class="text-sm font-semibold">サイトの設定</div>
	<div class="mt-3 flex items-center justify-between">
		<span class="text-sm">DarkMode</span>
		<input data-theme-toggle type="checkbox" class="toggle" />
	</div>
</div>
